/*Login start*/

#login {
	position:absolute;
	z-index:10000;
	display:none;
	top:40%;
	left:50%;
	
	width:240px;
	margin-left:-100px;
	margin-top:-60px;
	padding:20px;
	
	border-radius:15px;
	border:2px solid #333;
	background: #bbb;
	background: -moz-linear-gradient(top, #fff 0%, #bbb 100%);
	background: -webkit-gradient(linear, left top, left top, color-stop(0%,#fff), color-stop(100%,#ccc));
	background: -webkit-linear-gradient(left top, #fff 0%, #bbb 100%);
	background: -o-linear-gradient(top, #fff 0%, #bbb 100%);
	background: -ms-linear-gradient(top, #fff 0%, #bbb 100%);
	background: linear-gradient(top, #fff 0%, #bbb 100%);	
	
	-moz-box-shadow:inset 0 0 2px 1px #555, 0 0 1px #333; -webkit-box-shadow:inset 0 0 2px 1px #555, 0 0 1px #333; box-shadow:inset 0 0 2px 1px #555, 0 0 1px #333;
}

#login input[type="text"],#login input[type="password"] {
	margin-top:10px;
	font-size:18px;
}

#login .buttonApprove {
	float: right;
	width: 80px;
	margin-top: 15px;
	margin-right: -3px;
}
/*Login end*/

/*Topbar start*/
#topbar {
	display:none;
	position:fixed;
	z-index:10000;
	top:-40px;
	left:0px;
	width:100%;
	height:40px;
	opacity:0.9;
	-webkit-border-bottom-right-radius: 16px;
	-webkit-border-bottom-left-radius: 16px;
	-moz-border-radius-bottomright: 16px;
	-moz-border-radius-bottomleft: 16px;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	
	background: #D2D2D2;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, white), color-stop(1, #C7C6C6));
	background: -moz-linear-gradient( center top, white 5%, #C7C6C6 100% );
	-webkit-box-shadow: 0px 2px 2px 0px #6b6b6b;
	-moz-box-shadow: 0px 1px 1px 0px #6b6b6b;
	box-shadow: 0px 2px 2px 0px #6b6b6b;
}

#topbar #login_name {
	float:left;
	margin-top:10px;
	margin-left:40px;
	color:black;
}

#topbar #logout_button {
	color:blue;
	cursor:pointer;
}

#topbar ul {
	float:right;
	margin:0px;
	height:40px;
	padding:0px;
	margin-right:5px;
	list-style:none;
}

#topbar ul#toolbox {
	background:gray;
	margin:5px;
	height:30px;
	border-radius:6px;
}

#topbar ul#toolbox li {
	float:left;
	width:30px;
	padding:5px 5px 5px 5px;
	text-align:center;
	cursor:pointer;
}

#topbar ul#toolbox li img {
	width:100%;
}


#topbar ul#admin_menu li {
	float:left;
	height:40px;
	padding:0px 10px 0px 10px;
	text-align:center;
	line-height:40px;
	cursor:pointer;
	border-left:1px solid gray;
}

#topbar ul#admin_menu li .current {
	color:#1753AC;
}

#topbar ul#admin_menu li:hover {
	color:blue;
	/*background:rgba(0,22,22,0.5);*/
}

/*Topbar end*/

/*Edit toolbar*/


/*Edit toolbar end */

/*Admin - this needs to be altered for every project*/

/*
 * For animation of new menu items
 */
.new_menu_item {
	opacity:0;
}
#main_menu li.add {
	
}

/*
 * Styling for making it more clear that items are editable.
 */
.menu li.new_menu_item, .menu li.editable {
	position:relative;
	overflow:hidden;
	border: 1px dashed gray;
}

.menu li.new_menu_item {
	width:120px;
}

.content_item .menu li.new_menu_item  {
	/* width:auto; this is not for sub_menu_tab */
}

#main_menu li.editable.new_menu_item,#main_menu li.editable {
	padding:0px;
	border-style:dashed;
}

#main_menu li.editable span {
	display:inline-block;
	padding:3px 9px;
}

.new_menu_item input, .editable input {
	-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;
	width:100%;
	margin:0;
	padding:4px;
	border:none;
	
	text-align:center;
	font-weight:bold;
	font-size:17px;
	color:black;
	
	background:none;
}

.new_menu_item input:focus, .editable input:focus {
	background:none;
}

.content_item .new_menu_item input, .content_item .editable input {
	padding:0px;
	font-size:16px;
	text-align:center;
}

.editable .close {
	border-radius:0 0 0 5px;
}	

.add_content_item {
	position:relative;
	height:16px;
	margin:2px 0;

	overflow:hidden;
	text-align:center;
	line-height:15px;
	background-color:#000;
	border-radius:5px;
	color:whiteSmoke;
	font-size:24px;
	font-weight:bold;
	cursor:pointer;
}
.add_content_item:hover {
	background-color:#233b99;
	color:yellow;
}

.new_content_item {
	position:relative;
	overflow:hidden;
}
.new_content_item textarea {
	width:100%;
	max-width:100%;
	min-width:100%;
	height:50px;
	margin:5px 0 0 0;
	padding:10px 0 0 10px;
	border:1px solid black;	
	border-radius:5px;
	font-decoration:italic;
	background: whiteSmoke;
}

.close {
 	position:absolute;
	z-index:100;
	width:12px;
	height:12px;
	top:0px;
	right:0px;
	background:darkRed;
	cursor:pointer;
}

.close:hover {
	background-color:red;
}	
.new_content_item .close {
	border-radius:0 3px 0 5px;
	top:6px;
	right:1px;
}	
/*Admin end*/