/*
 * Guidelines for styling
 * 
 * 
 * 
 */

html, body, #wrapper {
	height: 100%; /* for sticky footer */
}

body {
    font-family: Century Gothic, Verdana, Arial, sans-serif;
    background: #ccc; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top,  #fff 0%, #bbb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#bbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff 0%,#bbb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff 0%,#bbb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fff 0%,#bbb 100%); /* IE10+ */
	background: linear-gradient(top, #fff 0%,#bbb 100%); /* W3C */
	color: black;
	min-height:500px;
}

div,span,p,ul,li,ol,dt,dl,dd,textarea {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

#lightbox {
	position:absolute;
	z-index:9999;
	top:0;
	left:0;
	background:black;
	width:100%;
	height:100%;
	opacity:0;
	display:none;
}

/*template*/
#wrapper {
	position:relative;
	max-width:1140px;
	min-width:900px;
	
	height: auto; min-height:100%; /* for sticky footer */
	padding:10px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

/*just for fun*/
#bg_holder {
	visibility:hidden;
	/*opacity:0.5;*/
	position: fixed;
	z-index:-1;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#bg_holder img{
	width:100%;
}

/*fun ends*/

#inner_wrapper {
	margin-top:40px;
	margin-bottom:150px; /* for sticky footer (must be same as footer height) */
	margin-left:auto;
	margin-right:auto;
	padding:10px;	
	
	
	/*
	1.1 For background around inner wraper
	background: #444;
	background: -moz-linear-gradient(top, #444 0%, #aaa 10%, #444 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(10%,#aaa), color-stop(100%,#444));
	background: -webkit-linear-gradient(top, #444 0%, #aaa 10%, #444 100%);
	background: -o-linear-gradient(top, #444 0%, #aaa 10%, #444 100%);
	background: -ms-linear-gradient(top, #444 0%, #aaa 10%, #444 100%);
	background: linear-gradient(top, #444 0%, #aaa 10%, #444 100%);
	-moz-box-shadow:0 0 0 1px #000,0 0 8px 4px #fff; -webkit-box-shadow:0 0 0 1px #000,0 0 8px 4px #fff; box-shadow:0 0 0 1px #000,0 0 8px 4px #fff;
	border-radius:12px;
	*/
}


	#inner_wrapper #main_menu {
		margin:0px;
		padding:0px;
		list-style:none;
		
		margin-bottom:50px;
		/*
		1.2 For background around menu
		border-radius:9px;
		background: #fff;
		background: -moz-linear-gradient(top, #fff 0%, #ccc 90%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccc), color-stop(90%,#fff)); 
		background: -webkit-linear-gradient(top, #ccc 0%, #fff 90%); 
		background: -o-linear-gradient(top, #ccc 0%, #fff 90%);
		background: -ms-linear-gradient(top, #ccc 0%, #fff 90%);
		background: linear-gradient(top, #ccc 0%, #fff 90%);

		-moz-box-shadow:0 0 0 1px #666; -webkit-box-shadow:0 0 0 1px #666; box-shadow:0 0 0 1px #666;
		*/
	}
	
	
		#main_menu li {
			border:1px solid #777;
			float:left;		
			height:30px;
			min-width:100px;
			font-size:17px;
			text-align:center;

			/*
			1.1 Styling for Button look
				
				margin:3px;
				margin-right:5px;
				border-radius:8px;
				-moz-box-shadow:inset 0 0 0 1px #ddd; -webkit-box-shadow:inset 0 0 0 1px #ddd; box-shadow:inset 0 0 0 1px #ddd;
			 */
				
			/*
			1.2 For background around menu
			
				margin:4px 0 4px -1px;
			 */
				
			/*
			 * 1.3 Styling for solid look
			 */
			
			margin:0 0 0 -1px;
			border-right-size:0px;
			border-radius:0;
			
			padding:3px 9px;
			
			
			background: #ddd; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: -moz-linear-gradient(top, #fff 0%, #ddd 50%,#ccc 51%,#eee 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(50%,#ddd), color-stop(51%,#ccc), color-stop(100%,#eee)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #fff 0%, #ddd 50%,#ccc 51%,#eee 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #fff 0%, #ddd 50%,#ccc 51%,#eee 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #fff 0%, #ddd 50%,#ccc 51%,#eee 100%); /* IE10+ */
			background: linear-gradient(top, #fff 0%, #ddd 50%,#ccc 51%,#eee 100%); /* W3C */
			

		}
		
		/*
		 * Styling for solid look
		 */
		#main_menu li:first-child { 
		
			/*
			1.2 For background around menu
			 	margin-left:4px;
			 */
			border-radius:6px 0 0 6px;
		}
		
		#main_menu li:last-child { 
			border-radius:0 6px 6px 0;
			border-right:1px solid #999;
		}
		
		#main_menu li:hover {
			border-color:#555;
			color:#233b99;
			background: #eee; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: -moz-linear-gradient(top, #ddd 0%, #bbb 50%,#aaa 51%,#ccc 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd), color-stop(50%,#bbb), color-stop(51%,#aaa), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #ddd 0%, #bbb 50%,#aaa 51%,#ccc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #ddd 0%, #bbb 50%,#aaa 51%,#ccc 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #ddd 0%, #bbb 50%,#aaa 51%,#ccc 100%); /* IE10+ */
			background: linear-gradient(top, #ddd 0%, #bbb 50%,#aaa 51%,#ccc 100%); /* W3C */
		}
		#main_menu li.selected,#main_menu li:active {
			color:#233b99;
			background: #eee; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: -moz-linear-gradient(top, #eee 0%, #ccc 50%,#bbb 51%,#ddd 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(50%,#ccc), color-stop(51%,#bbb), color-stop(100%,#ddd)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #eee 0%, #ccc 50%,#bbb 51%,#ddd 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #eee 0%, #ccc 50%,#bbb 51%,#ddd 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #eee 0%, #ccc 50%,#bbb 51%,#ddd 100%); /* IE10+ */
			background: linear-gradient(top, #eee 0%, #ccc 50%,#bbb 51%,#ddd 100%); /* W3C */
			-moz-box-shadow:inset 0 0 2px 1px #666; -webkit-box-shadow:inset 0 0 2px 1px #666; box-shadow:inset 0 0 2px 1px #666;
		}

	/*
	 * Whant to remove syling on this and syle each added element instead.
	#inner_wrapper #content{
		min-height:400px;
		color:black;
		background:white;
		min-height:400px;
		margin-top:10px;
		margin-bottom:50px;
		border-radius:9px;
		padding:10px;
		-moz-box-shadow:0 0 0 1px #666; -webkit-box-shadow:0 0 0 1px #666; box-shadow:0 0 0 1px #666;
		background-color:#fff;
	}
	 */

/*
 * Changes that needs to be done
 * 
 * Minimal styling with id, use classes instead.
 * 
 * #sub_menu to .sub_menu
 * #sub_content to .sub_content
 * 
 * I want .content_item to have different classes depending on what it contains, 
 * if it cointans a sub_menu, it would be best for the styling if it would be named .sub_menu_item
 */
/*
 * .sub_menu_item {
	clear:both;	
}
 */

.content_item {
	clear:both;	
/*
 	background:white;
	border-radius:9px;
	border:1px solid #999;
 */
}

.menu {
	position:relative;
}

.menu li {
	cursor:pointer;
	font-weight:bold;
}

.content_item .content_item {
	clear:none;
}

/*
 * Menu to the left
 */

/*
 * change to .sub_content 
#sub_content {
	float:left;
	width:85%;
	padding:10px;
	list-style:none;
	color:black;
	min-height:200px;
	border:1px solid #999;
	border-radius:0 9px 9px 9px;
}

.content_item .menu {
	float:left;
	width:15%;
	margin-top:0;
	margin-right:-1px;
	padding:0;
	list-style:none;
}

.content_item .menu li {
	border:1px solid #999;
	margin-bottom:-1px;
	padding:3px 3px 3px 9px;
	background: #999;
	background: -moz-linear-gradient(left, #bbb 0%, #eee 100%);
	background: -webkit-gradient(linear, left left, left left, color-stop(0%,#bbb), color-stop(100%,#eee));
	background: -webkit-linear-gradient(left, #bbb 0%, #eee 100%);
	background: -o-linear-gradient(left, #bbb 0%, #eee 100%);
	background: -ms-linear-gradient(left, #bbb 0%, #eee 100%);
	background: linear-gradient(left, #bbb 0%, #eee 100%);
	font-size:16px;
	color:black;
}

.content_item .menu li:hover {
	border-color:#777;
	color:#233b99;
	background: #ddd;
	background: -moz-linear-gradient(left, #ddd 0%, #fff 100%);
	background: -webkit-gradient(linear, left left, left left, color-stop(0%,#ddd), color-stop(100%,#fff));
	background: -webkit-linear-gradient(left, #ddd 0%, #fff 100%);
	background: -o-linear-gradient(left, #ddd 0%, #fff 100%);
	background: -ms-linear-gradient(left, #ddd 0%, #fff 100%);
	background: linear-gradient(left, #ddd 0%, #fff 100%);
}


.content_item .menu li:first-child { 
	border-radius:6px 0 0 0;
}
.content_item .menu li:last-child { 
	border-radius:0 0 0 6px;
}
 */

/*
 * Sub Tabs
 * (change .menu to .sub_tab)
 */
.content_item .menu {
	padding:0;
	margin:0;
	list-style:none;
	
}
.content_item .menu li {
	float:left;
	border:1px solid #777;
	min-width:100px;
	text-align:center;

	border-radius:6px 6px 0 0;

	padding:3px 3px 5px 3px;
	margin:0 5px -4px 0;
	
	background: #ccc;
	background: -moz-linear-gradient(top, #fff 0%, #ccc 100%);
	background: -webkit-gradient(linear, left top, left top, color-stop(0%,#fff), color-stop(100%,#ccc));
	background: -webkit-linear-gradient(top, #fff 0%, #ccc 100%);
	background: -o-linear-gradient(top, #fff 0%, #ccc 100%);
	background: -ms-linear-gradient(top, #fff 0%, #ccc 100%);
	background: linear-gradient(top, #fff 0%, #ccc 100%);	
	
	font-size:16px;
	color:black;
	
	-moz-box-shadow:inset 0 0 1px #999; -webkit-box-shadow:inset 0 0 1px #999; box-shadow:inset 0 0 1px #999;
}

.content_item .menu li:hover {
	border-color:#555;
	color:#233b99;
	background: #eee;
	background: -moz-linear-gradient(top, #eee 0%, #bbb 100%);
	background: -webkit-gradient(linear, left top, left top, color-stop(0%,#eee), color-stop(100%,#bbb));
	background: -webkit-linear-gradient(top, #eee 0%, #bbb 100%);
	background: -o-linear-gradient(top, #eee 0%, #bbb 100%);
	background: -ms-linear-gradient(top, #eee 0%, #bbb 100%);
	background: linear-gradient(top, #eee 0%, #bbb 100%);
}

.content_item .menu li.selected,.content_item .menu li:active {
	color:#233b99;
	background: #fff;
	background: -moz-linear-gradient(top, #ddd 0%, #fff 90%);
	background: -webkit-gradient(linear, left top, left top, color-stop(0%,#ddd), color-stop(90%,#fff));
	background: -webkit-linear-gradient(top, #ddd 0%, #fff 90%);
	background: -o-linear-gradient(top, #ddd 0%, #fff 90%);
	background: -ms-linear-gradient(top, #ddd 0%, #fff 90%);
	background: linear-gradient(top, #ddd 0%, #fff 90%);
	
	position:relative;
	z-index:200;
	border-bottom:none;
	padding-bottom:3px;
	margin-bottom:-2px;
	
	
	-moz-box-shadow:inset 0 1px 1px #999; -webkit-box-shadow:inset 0 1px 1px #999; box-shadow:inset 0 1px 1px #999;
	}
	


/*
 * Change to .sub_tab_content
 */
#sub_content {
	list-style:none;
	
	position:relative;
	clear:both;
	width:auto;
	min-height:200px;

	padding:10px;
	border:1px solid #777;
	border-radius:0 9px 9px 9px;

	z-index:100;
	background-color:white;
	color:black;
	

}

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

#footer {
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
	padding:20px;
	font-size:20px;
	text-align:center;
	
	background: #ccc;
	background: -moz-linear-gradient(left, #ddd 0%, #fff 50%,#ddd 100%);
	background: -webkit-gradient(linear, left top, left top, color-stop(0%,#ddd), color-stop(50%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(left, #ddd 0%, #fff 50%,#ddd 100%);
	background: -o-linear-gradient(left, #ddd 0%, #fff 50%,#ddd 100%);
	background: -ms-linear-gradient(left, #ddd 0%, #fff 50%,#ddd 100%);
	background: linear-gradient(left, #ddd 0%, #fff 50%,#ddd 100%);	
	-moz-box-shadow:0 0 3px 2px #999; -webkit-box-shadow:0 0 3px 2px #999; box-shadow:0 0 3px 2px #999;

	opacity:0.9;
}
