body {
	font: Verdana, Arial, serif;
	background:gray;
	color: black;
}


/*Login start*/

#lightbox {
	position:absolute;
	z-index:9999;
	top:0;
	left:0;
	background:black;
	width:100%;
	height:100%;
	opacity:0;
	display:none;
}

#login {
	position:absolute;
	z-index:10000;
	width:200px;
	height:120px;
	background:black;
	border-radius:15px;
	top:50%;
	left:50%;
	margin-left:-100px;
	margin-top:-60px;
	display:none;
	padding:20px;

}

#login input {
	width:200px;
	height:30px;
	margin-top:10px;
	border-radius:10px;
	font-size:20px;
	color:white;
	background-image: linear-gradient(bottom, rgb(31,33,33) 22%, rgb(19,20,20) 61%, rgb(0,0,0) 94%);
	background-image: -o-linear-gradient(bottom, rgb(31,33,33) 22%, rgb(19,20,20) 61%, rgb(0,0,0) 94%);
	background-image: -moz-linear-gradient(bottom, rgb(31,33,33) 22%, rgb(19,20,20) 61%, rgb(0,0,0) 94%);
	background-image: -webkit-linear-gradient(bottom, rgb(31,33,33) 22%, rgb(19,20,20) 61%, rgb(0,0,0) 94%);
	background-image: -ms-linear-gradient(bottom, rgb(31,33,33) 22%, rgb(19,20,20) 61%, rgb(0,0,0) 94%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.22, rgb(31,33,33)),
		color-stop(0.61, rgb(19,20,20)),
		color-stop(0.94, rgb(0,0,0))
	);

}

#login button {
	float:right;
	width: 60px;
	height: 25px;
	margin-top:5px;
	color: #fff;
	text-shadow: rgba(10, 10, 10, 0.5) 1px 2px 2px;
	text-align: center;
	overflow: hidden;
	border-radius: 16px; -moz-border-radius: 16px; -webkit-border-radius: 16px;
	box-shadow: 0 10px 16px rgba(66, 140, 240, 0.5), inset 0 -8px 12px 0 #6bf, inset 0 -8px 0 8px #48c, inset 0 -35px 15px -10px #7ad;
	-moz-box-shadow: 0 10px 16px rgba(66, 140, 240, 0.5), inset 0 -8px 12px 0 #6bf, inset 0 -8px 0 8px #48c, inset 0 -35px 15px -10px #7ad;
	-webkit-box-shadow: 0 10px 16px rgba(66, 140, 240, 0.5), inset 0 -8px 12px 0 #6bf, inset 0 -8px 0 8px #48c, inset 0 -35px 15px -10px #7ad;
}

/*Login end*/




/*Topbar start*/
#topbar {
	display:none;
	position:fixed;
	z-index:10000;
	top:-40px;
	left:0px;
	width:100%;
	height:40px;
	background: #D2D2D2;
	-webkit-border-bottom-right-radius: 16px;
	-webkit-border-bottom-left-radius: 16px;
	-moz-border-radius-bottomright: 16px;
	-moz-border-radius-bottomleft: 16px;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, white), color-stop(1, #C7C6C6));
	background: -moz-linear-gradient( center top, white 5%, #C7C6C6 100% );
	-webkit-box-shadow: 0px 2px 2px 0px #6b6b6b;
	-moz-box-shadow: 0px 1px 1px 0px #6b6b6b;
	box-shadow: 0px 2px 2px 0px #6b6b6b;
	opacity:0.9;
}

#topbar #login_name {
	float:left;
	color:black;
	margin-top:10px;
	margin-left:40px;
}

#topbar #logout_button {
	color:blue;
	cursor:pointer;
}

#topbar #login_name button {


}


#topbar ul {
	float:right;
	margin:0px;
	height:40px;
	padding:0px;
	margin-right:40px;
	list-style:none;

}

#topbar ul#toolbox {
	margin-right:300px;
	background:gray;
	border-radius:6px;
}

#topbar ul#toolbox li {
	float:left;
	height:30px;
	width:30px;
	padding:5px 5px 5px 5px;
	text-align:center;
	line-height:30px;
	cursor:pointer;
}

#topbar ul#toolbox li img {
	width:100%;
}


#topbar ul#admin_menu li {
	float:left;
	height:40px;
	width:90px;
	padding:0px 10px 0px 10px;
	text-align:center;
	line-height:40px;
	border-radius:10px;
	cursor:pointer;

}

#topbar ul#admin_menu li .current {
	color:#1753AC;
}

#topbar ul#admin_menu li:hover {
	color:blue;
	/*background:rgba(0,22,22,0.5);*/
}

/*Topbar end*/

/*Edit toolbar*/






/*Edit toolbar end








/*Admin - this needs to be altered for every project*/

.new_menu_item {
	position:relative;
	overflow:hidden;
}

.new_menu_item input {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	border-radius:6px;
	background:black;
	color: whiteSmoke;
}

.new_menu_item .close {
	position:absolute;
	top:5px;
	right:5px;
	width:10px;
	height:10px;
	background:red;
}	
	
.add_content_item {
	position:relative;
	overflow:hidden;
	width:100%;
	text-align:center;
	height:20px;
	line-height:20px;
	background:black;
	color:whiteSmoke;
	font-size:24px;
	font-weight:bold;
}






/*Admin end*/

/*template*/
#wrapper {
	position:relative;
	width:1140px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

/*just for fun*/
#bg_holder {
	position: fixed;
	z-index:-1;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#bg_holder img{
	width:100%;
}

/*fun ends*/

#inner_wrapper {
	width:900px;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	border-radius:12px;
	background:black;
	overflow:hidden;
}


#main_menu {
	width:100%;
	margin:0px;
	height:60px;
	padding:0px;
	list-style:none;
	color:whitesmoke;
	background-image: -webkit-linear-gradient(bottom, rgb(31,33,33) 22%, rgb(19,20,20) 61%, rgb(0,0,0) 94%);
}

#main_menu li {
	float:left;
	height:50px;
	width:90px;
	padding:5px 10px 5px 10px;
	text-align:center;
	line-height:50px;
	border-radius:10px;
	cursor:pointer;
}

#main_menu li:hover {
	color:;
	background: rgba(0,0,0,0.5);
}

#content{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	color:black;
	background: whiteSmoke;
	min-height:1200px;
	margin-top:50px;
	margin-bottom:50px;
	border-radius:10px;
	padding:10px;
}